body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background: none;
  background-size: auto;
  overflow: hidden;
  background-image: url("/assets/bg.png");
  background-size: cover;
  background-color: black;
}

.first-button {
  width: 100%;
  min-width: 350px;
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 239.82px;
  height: 54px;
  background: linear-gradient(90deg, #5934a4 0%, #68308e 100%);
  box-shadow: 0px 5px 35px rgba(117, 51, 169, 0.3);
  border-radius: 34px;
  border-radius: 34px;
  margin: 0 50px;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: var(--background-color);
  color: #fafbfb;

  transform: translate(-50%, -50%);
  padding: 0.5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;

  --background-color: none;
  --border-size: 2px;
  --accent-color: #fafbfb;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

.btn:hover::before,
.btn:focus::before {
  transform: scaleX(1);
}
